h1{
    font-family:"Monotype Corsiva";
    font-size: 60px;
    text-decoration: underline;
}
p{
    font-family: 'Times New Roman' ;
    font-size: 20px;
}
.joy{
    font-family: 'Times New Roman';
    font-size: 20px;
}
ul{
    font-family: 'Times New Roman';
    font-size: 20px;
}