body{

    background: url("https://images.unsplash.com/photo-1602674809970-89073c530b0a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Zm9vdGJhbGwlMjBwbGF5ZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: 1500px;
    backdrop-filter: blur(5px);
}
div{
    color: red;
}
.firstDiv{
    color: blue;
}
p{
    color: blueviolet;
}
#singledout{
    color: yellow ;
    text-transform: capitalize;
    text-decoration: underline;
}
/* * {
    color: black;
} */
.joy{

    text-align: center;
    font-size: 125px;
    color: yellow;
}
h3+ul{
    border: 5px dotted purple;
}
li a{
    color: red;
}

li a[href="http:\\www.youtube.com"]
{
    color: blue;
    text-decoration: wavy;
    border: 5px solid orange;
}
